<section class="change-password-section">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-10  col-lg-8 boxset">
        <div class="title-container text-center mb-5">
          <p class="form-title">Change Password</p>
        </div>
        <form [formGroup]="changepasswordForm">
          <div class="form-group row">
            <label for="oldPassword" class="col-sm-4 col-form-label">Old Password :</label>
            <div class="col-sm-8 position-relative">
              <input 
                [type]="showOldPassword ? 'text' : 'password'" 
                formControlName="oldPassword" 
                placeholder="Old Password" 
                class="form-control"
                (keydown.enter)="moveFocus('oldpassword', newpass)" 
              />
              <i 
                [ngClass]="showOldPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" 
                class="toggle-password-icon" 
                (click)="toggleOldPasswordVisibility()">
              </i>
              <div class="error-message" *ngIf="changepasswordForm.get('oldPassword').errors?.['required'] && changepasswordForm.get('oldPassword').touched">
                Old Password is required
              </div>
            </div>
          </div>

          <div class="form-group row mt-4">
            <label for="password" class="col-sm-4 col-form-label">New Password :</label>
            <div class="col-sm-8 position-relative">
              <input 
                [type]="showNewPassword ? 'text' : 'password'" 
                #newpass formControlName="password" 
                placeholder="New Password" 
                class="form-control" 
                (keydown.enter)="moveFocus('newpassword', cpass)" 
              />
              <i 
                [ngClass]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" 
                class="toggle-password-icon" 
                (click)="toggleNewPasswordVisibility()">
              </i>
              <div class="error-message" *ngIf="changepasswordForm.get('password').errors?.['required'] && changepasswordForm.get('password').touched">
                New Password is required
              </div>
              <div class="error-message" *ngIf="changepasswordForm.get('password').errors?.['pattern'] && changepasswordForm.get('password').touched">
                Set a strong password
              </div>
            </div>
          </div>

          <div class="form-group row mt-4">
            <label for="confirmpassword" class="col-sm-4 col-form-label">Confirm Password :</label>
            <div class="col-sm-8 position-relative">
              <input 
                [type]="showConfirmPassword ? 'text' : 'password'" 
                #cpass formControlName="confirmpassword" 
                placeholder="Confirm Password" 
                class="form-control" 
                (keyup)="passwordCheck()" 
                (keydown.enter)="moveFocus('confirmpassword', passwordBtn)" 
              />
              <i 
                [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" 
                class="toggle-password-icon" 
                (click)="toggleConfirmPasswordVisibility()">
              </i>
              <div class="error-message" *ngIf="flag != 2 && changepasswordForm.get('confirmpassword').errors?.['required'] && changepasswordForm.get('confirmpassword').touched">
                Confirm Password is required
              </div>
              <div class="error-message" *ngIf="flag === 2">
                New Password and Confirm Password should match
              </div>
            </div>
          </div>

          <div class="note mt-3">
            <span class="note-label">Note :</span>
            <span class="note-text">Password should contain at least one lowercase letter, number, special character, and have a minimum length of 6 characters.</span>
          </div>

          <div class="button-container d-flex justify-content-center align-items-center text-center mt-5">
            <button #submitbtn class="button d-flex justify-content-center align-items-center mr-3" type="submit" (click)="submit()">
              <span class="button-content"><i class="fa fa-check mr-2 ml-2"></i> Submit</span>
            </button>
            <button class="button d-flex justify-content-center align-items-center " type="button" (click)="clear()">
              <span class="button-content"><i class="fa fa-times mr-2 ml-2"></i> Clear</span>
            </button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</section>
