/* General styling for the section */
.change-password-section {
  padding: 20px; 
}

.boxset {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.title-container .form-title {
  font-size: 24px;
  font-weight: bold;
  color: #018db0;
}

.form-group label {
  color: #495057;
  font-weight: 500;
}

.form-control {
  border-radius: 5px;
  padding: 10px;
}

.position-relative {
  position: relative;
}

.toggle-password-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 5px;
}

.note {
  font-size: 0.875rem;
  color: #6c757d;
}

.note-label {
  font-weight: bold;
  color: #495057;
}

.button-container .btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .col-sm-4, .col-sm-8 {
    width: 100%;
    padding: 0;
  }
  
  .form-group label {
    text-align: left;
    margin-bottom: 5px;
  }
  
  .toggle-password-icon {   
    right: 15px;
  }
  
  .button-container .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

.button-content
{
  padding: 8px !important;
}