* {
    font-variant: small-caps !important;
}
 
label {
    font-weight: bold;
    color: #018DB0;
}
 
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
 
.button {
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
    border-radius: 30px;
    background: #018DB0;
    color: #fff;
    border: none;
    cursor: pointer;
}
 
.button:hover::before {
    transform: scaleX(1);
    /* color: white; */
}
 
.button-content {
    position: relative;
    z-index: 1;
    font-variant: small-caps;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}
 
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background-color: #326789;
    transition: all 0.8s;
}
 
.sidebar {
    position: fixed;
    top: 0px;
    right: 0;
    height: 100%;
    width: 25%;
    background: #e6e6e6;
    z-index: 100;
    transition: all 0.5s ease;
    border-left: 2px solid #018DB0;
    border-bottom: 2px solid #018DB0;
}
 
.sidebar.close {
    width: 0px;
}
 
.button-content i {
    font-style: normal;
}
 
.custom-modal-backdrop {
    z-index: 1000 !important;
}
 
::ng-deep .modal-backdrop {
    z-index: 1000 !important;
}
 
.page_height {
    background-color: white;
    height: 80vh;
    border-radius: 6px;
}
 
.fa {
    font-size: 1.3rem;
    color: #326789;
}
 
.checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none;
}
 
.checkbox .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
 
.toggle {
    margin-bottom: 0px !important;
}
 
.td-action {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
 
.checkbox .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9a9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
 
.checkbox .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
 
.checkbox .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}
 
.checkbox .cbx:checked+.toggle:before {
    background: #a6e6f7;
}
 
.checkbox .cbx:checked+.toggle span {
    background: #326789;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
 
.checkbox .cbx:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}
 
.filter-input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 20px;
    outline: none;
}
 
.modal_table {
    height: 80vh !important
}
 
.modal {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #aaa5a5 !important;
}
 
.modal-dialog {
    max-width: 100% !important;
    margin: 2rem 1rem 1rem 1rem !important;
    height: 95vh !important;
    max-height: 100vh !important
}
 
.button-content .fa {
    color: white !important;
}
 
.table-container {
    max-width: 100%;
    overflow-x: auto;
    /* max-height: calc(88vh - 100px);
    min-height: calc(82vh - 130px); */
    overflow-x: auto !important;
    display: flex;
    flex-direction: column;
    position: relative;
}
 
.table-container2 {
    max-height: calc(90vh - 100px) !important;
}
 
.no-records-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
table {
    width: 100%;
}
 
th,
td {
    white-space: nowrap;
}
 
.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
}
 
.fixed-header th {
    background: #326789;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
 
.fixed-header th,
.fixed-header td {
    padding: 10px;
}
 
.col-sno {
    min-width: 50px;
}
 
.col-action {
    min-width: 100px;
}
 
.table-container::-webkit-scrollbar {
    height: 8px;
    width: 8px !important;
}
 
.table-container::-webkit-scrollbar-thumb {
    background-color: #326789 !important;
}
 
.table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1 !important;
}
 
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #018DB0 !important;
    color: #fefefe;
    cursor: default;
    font-size: 1rem;
}
 
:host ::ng-deep .ngx-pagination {
    padding-left: 0px;
    font-size: 1rem;
}
 
:host ::ng-deep .ngx-pagination .current,
:host ::ng-deep .btn-info {
    background: #17a2b8 !important;
    border: transparent;
    border-radius: 6px;
    font-size: 1rem;
}
 
:host ::ng-deep .ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border-radius: 6px;
    border: transparent;
    /* color: white !important; */
    font-size: 1rem;
}
 
.btn-info {
    width: 6vw !important;
    border-radius: 30px !important;
}
 
.total_records {
    font-size: 1.2rem;
    color: #018DB0;
}
 
 
::ng-deep .select2-container {
    width: 100% !important
}
 
::ng-deep .select2-container .select2-selection--single {
    height: 4.5vh !important;
    min-height: 4.5vh !important;
    max-height: 4.5vh !important;
}
 
::ng-deep .select2-selection__arrow {
    height: 4.3vh !important;
    min-height: 4.3vh !important;
    max-height: 4.3vh !important;
}
 
 
 
.gk-section {
    display: flex;
    flex-direction: column;
    /* height: calc(100vh - 170px) !important; */
    height: 80vh !important;
}
/* @media (min-width: 768px) and (max-width: 1024px) {
    .gk-section {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 90px) !important;
    }
} */
 
.gk-container {
    /* padding-top: 0.7vh; */
    height: 100%;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 10px !important;
    margin: 0px !important;
}
 
.gk-page {
    /* height: 100%; */
}
 
@media (max-width: 1024px) {
    .gk-page {
        height: 80vh !important;
    }
}
 
 
 
 
.gk-table-container {
    height: calc(100% - 60px);
}
 
 
.gk-h100p {
    height: 100%;
}
 
 
 
.export-container {
    position: fixed;
    bottom: 20px;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.export-button {
    /* background-color: #007bff; */
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}
 
.dropdown-menu {
 
    display: flex;
    /* Initially show to enable transitions */
    opacity: 0;
    flex-direction: row;
    top: calc(-100% - 20px);
    position: absolute;
    bottom: 60px;
    /* Position the dropdown above the export button */
    left: 85%;
    transform: translateX(-50%);
    transition: opacity 0.4s ease, visibility 0.4s;
    visibility: hidden;
    /* Hidden initially */
}
 
.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    background: none;
    border: none;
}
 
.dropdown-menu button {
    /* background-color: white;  */
    border: transparent;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.2s, color 0.2s;
}
 
.dropdown-menu button:hover {
    color: white;
}
 
@media (max-width: 1366px) {
    .export-container {
        bottom: 10px;
    }
 
    .dropdown-menu {
        bottom: 50px;
        /* Adjust accordingly for smaller screens */
    }
 
}
 
.form-group label{
    font-size: 1.8vh !important;
    padding: 1vh 0.4vw !important;
    margin: 0px;
}
 
.form-group input{
    min-height: 4vh !important;
    max-height: 4vh !important;
    font-size: 1.8vh !important;
    /* padding: 0px; */
}
 
.sidebar-head{
    font-size: 2.5vh !important;
}
 
.form-group div{
    /* padding: 1vh 0.5vw !important; */
}
 
 
 table td{
    font-size: 1.9vh !important;
 }
 
