<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-lg-2 col-md-2">
          <app-sidenav></app-sidenav>
        </div> -->
    <div class="col-lg-12 col-md-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 bread_crumbs">
          <span>Settings</span> / User Management
        </div>
      </div>
      <div class="row mt-3">

        <ul class="nav nav-pills  col-lg-10 col-md-10 offset-md-1">
          <li class="nav-item col">
            <a class="nav-link active" data-toggle="tab" href="#tab1">User Group</a>
          </li>
          <li class="nav-item col">
            <a class="nav-link" data-toggle="tab" href="#tab2">User Management</a>
          </li>

        </ul>

      </div>
      <div class="row">

        <div class="tab-content mt-3  col-lg-12 col-md-12">



          <div class="tab-pane show active col-lg-12" id="tab1" role="tabpanel">

            <div class="row mt-1">
              <form action="" class="col-lg-10 col-md-10 ml-5">
                <div class="form-group">
                  <div class="row">
                    <label for="text" class="col-lg-2 col-md-2">User group :</label>
                    <input type="text" class="form-control feed-input col-lg-2 col-md-2">
                    <button type="submit" class="btn btn-cta col-lg-1 offset-md-1">NEW</button>
                    <button type="reset" class="btn btn-cta col-lg-2 offset-md-1">MENU RIGHTS</button>
                    <label for="text" class="col-lg-1 col-md-1">Module</label>
                    <input type="text" class="form-control feed-input col-lg-2 col-md-2">

                  </div>
                </div>

                <div class="form-group">
                  <div class="row">


                    <button type="reset" class="btn btn-cta col-lg-1 offset-md-11">CLEAR</button>
                  </div>
                </div>


              </form>
            </div>
            <div class="row mt-2">
              <div class="col-lg-10 col-md-10 offset-md-1">

                <table class="table table-bordered table-striped mb-0 part_table col-lg-12">
                  <thead>
                    <tr>
                      <th class="col-1">S.No</th>
                      <th class="col-2">Group Name</th>
                      <th class="col-2">Edit</th>
                      <th class="col-2">Delete</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Admin</td>
                      <td><i class="fa fa-edit"></i></td>
                      <td><i class="fa fa-trash"></i></td>


                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Operator</td>
                      <td><i class="fa fa-edit"></i></td>
                      <td><i class="fa fa-trash"></i></td>


                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Supervisor</td>
                      <td><i class="fa fa-edit"></i></td>
                      <td><i class="fa fa-trash"></i></td>


                    </tr>

                  </tbody>
                </table>

              </div>
            </div>

          </div>


          <div class="tab-pane col-lg-12" id="tab2" role="tabpanel">

            <div class="row mt-1">
              <form action="/action_page.php" class="col-lg-10 col-md-10">
                <div class="form-group">
                  <div class="row">
                    <label for="text" class="col-lg-2 col-md-2">Full name:</label>
                    <input type="text" class="form-control feed-input col-lg-2 col-md-2">
                    <label for="text" class="col-lg-2 col-md-2">User name:</label>
                    <input type="text" class="form-control feed-input col-lg-2 col-md-2">
                    <label for="text" class="col-lg-2 col-md-2">Password:</label>
                    <input type="text" class="form-control feed-input col-lg-2 col-md-2">


                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <label for="text" class="col-lg-2 col-md-2">User Group</label>
                    <input type="text" class="form-control feed-input col-lg-2 col-md-2">

                    <button type="reset" class="btn btn-cta col-lg-1 offset-md-4">SAVE</button>
                    <button type="reset" class="btn btn-cta col-lg-1 offset-md-1">CANCEL</button>
                  </div>
                </div>


              </form>
            </div>
            <div class="row mt-2">
              <div class="col-lg-10 col-md-10 offset-md-1">

                <table class="table table-bordered table-striped mb-0 part_table col-lg-12">
                  <thead>
                    <tr>
                      <th class="col-1">S.No</th>
                      <th class="col-2">Full Name</th>
                      <th class="col-2">User Name</th>
                      <th class="col-2">User group</th>
                      <th class="col-2">Edit</th>
                      <th class="col-2">Delete</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><i class="fa fa-edit"></i></td>
                      <td><i class="fa fa-trash"></i></td>


                    </tr>
                    <tr>
                      <td>2</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><i class="fa fa-edit"></i></td>
                      <td><i class="fa fa-trash"></i></td>


                    </tr>
                    <tr>
                      <td>3</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><i class="fa fa-edit"></i></td>
                      <td><i class="fa fa-trash"></i></td>


                    </tr>

                  </tbody>
                </table>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div *ngIf="flagset" class="dialog_scrim" (click)="falseSet()">
</div>