<section>
    <div class="container-fluid px-1">
      <div class="row page_height mx-1 my-2 p-2">
        <div class="col-12 p-0">
          <span class="refreshDate">Last Updated On: &nbsp;
            <!-- Full date format for large screens and above -->
            <span class="setDate d-none d-xl-block">{{ lastUpdatedDateTime | date: 'dd-MM-yyyy hh:mm:ss a' }}</span>
   
            <!-- Only time format for medium screens -->
            <span class="setDate d-none d-sm-block d-xl-none">{{ lastUpdatedDateTime | date: 'hh:mm:ss a' }}</span>
            &nbsp;&nbsp;
   
            <button class="button refresh-button" (click)="searchData()">
              <span class="button-content setbtncontent">
                <i class="fa fa-refresh mr-1" aria-hidden="true"></i>
              </span>
            </button>
          </span>
          <!-- <p class="d-flex m-0 px-4 py-1 filter_icon" (click)="openSidebar()">
            <span>Filter</span>
            <i class="fa fa-filter d-flex justify-content-center align-items-center mt-1 ml-3" aria-hidden="true"></i>
          </p> -->
          <div class="table-container gk-table-container" [ngStyle]="{ 'border': '2px solid #dee2e6' }" #tableBody>
            <table class="table table-bordered table-striped mb-2">
              <thead class="fixed-header">
                <tr style="width: 100%;">
                  <th class="stock_table_head setPointer" *ngFor="let item of tableHeader"
                    (click)="onSort(item.data, item.type)">
                    <span> {{ item.header }} </span>
                    <i *ngIf="currentSortKey === item.data && isAscending" class="fas fa-arrow-up"></i>
                    <i *ngIf="currentSortKey === item.data && !isAscending" class="fas fa-arrow-down"></i>
                    <i *ngIf="currentSortKey !== item.data" class="fas fa-sort"></i>
                  </th>
                  <th> Action </th>
                </tr>
              </thead>
   
              <tbody>
                <tr style="width: 100%;" *ngIf="tableData?.length > 0">
                  <td class="p-0" *ngFor="let item of tableHeader">
                    <input *ngIf="item.search == true" type="search" class="filter-input" placeholder="search"
                      [(ngModel)]="filters[item.data]" (input)="applyFilters()">
                  </td>
                </tr>
                <tr style="width: 100%;"
                  *ngFor="let item of filteredArray | paginate: { itemsPerPage, currentPage: p }; let i = index;">
                  <td class="table_data_font" *ngFor="let elem of tableHeader">
                    <span *ngIf="elem.date == false">{{item[elem.data]}}</span> 
                  </td> 
                  <td>
                    <input id="cbx{{item.id}}" class="cbx cbxcls" type="checkbox" [(ngModel)]="item.selected"
                      (change)="toggleRowSelection(item)">
                  </td>
                </tr>
              </tbody>
            </table>
   
            <div class="no-records-message" *ngIf="filteredArray?.length == 0">
              <div>
                <p>No Records Found</p>
              </div>
            </div>
          </div>
        </div>
   
        <div class="col-3 d-flex align-items-center justify-content-between" style="height: 6vh !important;">
          <div class="records">
            <p class="crane_id mr-1 mt-2"><b>Total Records: <span>{{ filteredArray?.length }}</span></b></p>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-between" style="height: 6vh !important;">
          <button class="button" (click)="rejectprebinningdata()">
            <span class="button-content">Reject</span>
          </button>
          </div>
        <div class="col-7 d-flex justify-content-end align-items-center" style="height: 6vh !important;">
          <div class="d-flex justify-content-end align-items-center">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
   
   
  <div *ngIf="flagset" class="dialog_scrim" (click)="falseSet()">
  </div>
   
  <section class="sidebar close sidebar_Request" id="sidebar">
    <div class="container-fluid" [formGroup]="filterForm">
      <div class="row d-inline">
        <!-- Header and close button -->
        <div class="justify-content-between align-items-center d-flex">
          <div>
            <p class="storage_filter">Load Conveyor Buffer Filter</p>
          </div>
          <div>
            <button class="button closesidebar" (click)="closesidebar()">
              <span class="button-content" aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
   
        <div class="positionset p-2 py-3">
          <label class="filter_label w-100" for="date">From Date : </label>
          <input type="date" id="fromDate" name="date" [(ngModel)]="fromDate" [value]="fromDate"
            formControlName="fromDate" max="{{ maxDate | date: 'yyyy-MM-dd' }}">
        </div>
   
        <div class="positionset p-2 py-3">
          <label class="filter_label w-100" for="date">To Date : </label>
          <input type="date" id="toDate" name="date" [(ngModel)]="toDate" [value]="toDate" formControlName="toDate"
            min="{{ minDate | date: 'yyyy-MM-dd' }}" max="{{ maxDate | date: 'yyyy-MM-dd' }}">
        </div>
   
        <!-- Type Filter -->
        <!-- <div class="positionset p-2 py-3">
            <label class="filter_label w-100" for="type">Scan Status: </label>
            <div class="ng-autocomplete">
              <ng-select2 class="data_place"
                          [data]="scannedStatus"
                          placeholder="Select Type"
                          [options]="options"
                          (valueChanged)="selectType($event)"
                          formControlName="scanStatus">
              </ng-select2>
            </div>
          </div> -->
   
        <!-- Apply and Clear Buttons -->
        <div class="positionset p-2 py-3 d-flex justify-content-end align-items-center">
          <button class="button" (click)="searchData()">
            <span class="button-content">Apply</span>
          </button>
          <button class="button ml-3" (click)="clear()">
            <span class="button-content">Clear</span>
          </button>
        </div>
      </div>
    </div>
  </section> 