<section class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-g-9 col-md-9">
        <div class="row">
          <div class="col-lg-12 col-md-12 bread_crumbs">
            <span>Masters</span> / Item Group
          </div>
        </div>
        <div class="banner-card mt-2">
          <div class="row mt-2  p-2">
            <table class="table table-bordered table-striped mb-0 part_table col-lg-12">
              <thead>
                <tr>
                  <th class="col-1">S.No</th>
                  <th class="col-2">Item Group</th>
                  <th class="col">Item Group Description</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                </tr>
                <tr>
                  <td>2</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                </tr>
                <tr>
                  <td>3</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                </tr>
                <tr>
                  <td>4</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                </tr>
                <tr>
                  <td>5</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                </tr>
                <tr>
                  <td>6</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                </tr>
                <tr>
                  <td>7</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                </tr>
              </tbody>
            </table>
          </div>
          <p class="col-lg-12 col-md-12 text-left m-1">
            Total Number of Records : <span id="part_record"></span>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 feed_column_1 pt-4">
        <form action="/action_page.php" class="col-lg-11 col-md-11 mt-5">
          <div class="form-group">
            <div class="row">
              <label for="text" class="col-lg-6 col-md-6">Item Group <i class="fa fa-asterisk mandatory"></i> :</label>
              <input type="text" class="form-control feed-input col-lg-6 col-md-6">
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="text" class="col-lg-6 col-md-6">Item Group Desc <i class="fa fa-asterisk mandatory"></i> :
              </label>
              <input type="text" class="form-control col-lg-6 col-md-6 feed-input">
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-cta col-lg-5  offset-md-1">SAVE</button>
            <button type="reset" class="btn btn-cta col-lg-5 offset-md-1">CLEAR </button>
          </div>

        </form>

        <div class="col-lg-12 col-md-12 mt-2">

          <button type="submit" class="btn btn-cta col-lg-4 offset-md-1 mt-2"> <i class="fa fa-upload fa-rotate-180"
              aria-hidden="true"></i> IMPORT</button>
          <button type="submit" class="btn btn-cta col-lg-4 offset-md-2 mt-2">EXPORT</button>
        </div>


      </div>

    </div>
  </div>
</section>