<section class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-g-12 col-md-12">
        <!-- <div class="row">
              <div class="col-lg-12 col-md-12 bread_crumbs">
                <span>Utilities</span> / Shortcuts
              </div>
            </div> -->
        <div class="row mt-2  p-2   ">
          <div class="col-lg-6 col-md-6 offset-md-3 shortcuts">
            <div class="row banner-card">

              <div class="col-lg-6 col-md-6 mt-5  pl-5">
                <div class="row">
                  <p><span>F1</span> - SEARCH</p>
                </div>
                <div class="row">
                  <p><span>F2</span> - CLEAR</p>
                </div>
                <div class="row">
                  <p><span>F3</span> - EXPORT</p>
                </div>
                <div class="row">
                  <p><span>F4</span> - <i class="fa fa-upload fa-rotate-180" aria-hidden="true"></i> IMPORT</p>
                </div>
                <div class="row">
                  <p><span>F5</span> - SAVE</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-5">
                <div class="row">
                  <p><span>F6</span> - DELETE</p>
                </div>
                <div class="row">
                  <p><span>F7</span> - UPDATE INVENTORY</p>
                </div>
                <div class="row">
                  <p><span>F8</span> - RESEARCH</p>
                </div>
                <div class="row">
                  <p><span>F10</span> - CLOSE FORMS</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</section>