<section class="side-nav">
  
    <div class="row">
      <div class="sidebar col-lg-12 col-md-12">
      <h4 class="col-lg-12">Settings</h4>  
      <hr>
      <!-- <a [routerLink]="'/emergency_operations'" href="#">Emergency Operations</a> -->
      <a [routerLink]="'/mainpage/warehouse_customization'" href="#">Warehouse Customisation</a>
      <a [routerLink]="'/mainpage/location_maintenance'" href="#">Location Maintenance</a>
      <a [routerLink]="'/mainpage/user_management'" href="#">User Management</a>
      <a [routerLink]="'/mainpage/manualentry_pallet'" href="#">Manual Entry - Pllaet</a>
      <a [routerLink]="'/mainpage/stock_adjustment'" href="#">Stock Adjustment</a>
        <a [routerLink]="'/mainpage/conveyor_details'" href="#">Conveyor Details</a>

</div>
  
    </div>
  </section>  