<section>
  <div class="container-fluid">
    <div class="row pt-2">
      <!-- Left Column for Charts -->
      <div class="col-lg-8 col-md-12">
        <div class="row" id="contentToPrint">
          
          <!-- Location Summary Chart -->
          <!-- <div class="col-lg-6 col-md-6 col-sm-12 mb-2 pr-md-0 setHeight">
            <div class="chart_card">
              <p class="chart_title pl-4 pt-2">Location Summary</p>
              <div *ngIf="chartLoading" class="d-flex justify-content-center align-items-center"> 
                <p class="no-data p-2 m-5 text-center">No Data Available</p>
              </div>
              <div *ngIf="!chartLoading" class="d-flex justify-content-center align-items-center" id="pieChart">
                <apx-chart [series]="chartOptionsPie.series" [chart]="chartOptionsPie.chart"
                  [labels]="chartOptionsPie.labels" [responsive]="chartOptionsPie.responsive"></apx-chart>
              </div>
            </div>
          </div> -->
                          

          <div class="col-lg-12 col-md-12 col-sm-12 setHeight">
            <div class="chart_card">
              <p class="chart_title pl-4 pt-0">Order Summary</p>
              <div *ngIf="chartLoading" class="d-flex justify-content-center align-items-center">
                <p class="no-data p-2 m-5 text-center">No Data Available</p>
              </div>
              <div *ngIf="!chartLoading" class="d-flex justify-content-center align-items-center" id="OrderChart">
                <apx-chart [series]="chartOptionsBar.series"
                           [chart]="chartOptionsBar.chart"
                           [xaxis]="chartOptionsBar.xaxis"
                           [yaxis]="chartOptionsBar.yaxis"
                           [responsive]="chartOptionsBar.responsive"></apx-chart>
              </div>
            </div>
          </div>

          
          <!--Order Summary Chart-->
          <div class="col-lg-12 col-md-12 col-sm-12 mt-2 setHeight">
            <div class="chart_card">
              <p class="chart_title pl-4 pt-0">Item Summary</p>
              <div *ngIf="chartLoading" class="d-flex justify-content-center align-items-center">
                <p class="no-data p-2 m-5 text-center">No Data Available</p>
              </div>
              <div *ngIf="!chartLoading" class="d-flex justify-content-center align-items-center" id="OrderChart">
                <apx-chart [series]="chartOptionsBarItem.series"
                           [chart]="chartOptionsBarItem.chart"
                           [xaxis]="chartOptionsBarItem.xaxis"
                           [yaxis]="chartOptionsBarItem.yaxis"
                           [responsive]="chartOptionsBarItem.responsive"></apx-chart>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- Right Column for Alarm and Status -->
      <div class="col-lg-4 col-md-12 pl-0">
        <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 mb-2 pr-md-0 setHeight">
            <div class="chart_card">
              <div class="d-flex justify-content-between w-100">
                <p class="chart_title pl-4 pt-2">Location Summary</p>
                <!-- <button class="button my-2 mr-2" type="button" (click)="tvDisplayPage()">
                  <span class="button-content">View</span>
                </button> -->
              </div>
              <div *ngIf="chartLoading" class="d-flex justify-content-center align-items-center">
                <p class="no-data p-2 m-5 text-center">No Data Available</p>
              </div>
              <div *ngIf="!chartLoading" class="d-flex justify-content-center align-items-center" id="pieChart">
                <apx-chart [series]="chartOptionsPie.series" [chart]="chartOptionsPie.chart"
                  [labels]="chartOptionsPie.labels" [responsive]="chartOptionsPie.responsive"></apx-chart>
              </div>
            </div>
      </div>

      <!-- Bay Summary Chart -->
          <div class="col-lg-12 col-md-12 col-sm-12 mb-2 setHeight">
            <div class="chart_card">
              <p class="chart_title pl-4 pt-2">Bay Summary</p>
              <div *ngIf="chartLoading" class="d-flex justify-content-center align-items-center"> 
                <p class="no-data p-2 m-5 text-center">No Data Available</p>
              </div>
              <div *ngIf="!chartLoading" class="d-flex justify-content-center align-items-center" id="BayChart">
                <apx-chart [series]="chartOptionsPie1.series" [chart]="chartOptionsPie1.chart"
                  [labels]="chartOptionsPie1.labels" [responsive]="chartOptionsPie1.responsive"></apx-chart>
              </div>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</section>
